* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* -------------- Common -------------- */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.heading-lv2 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375C;
}

.desc-1 {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #C9D2DA;
}

.desc-2 {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

.btn {
    min-width: 205px;
    background: var(--primary-color);
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
}