* {
    box-sizing: border-box;
}

:root {
    --header-bg:  #10375C;
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* -------------- Common -------------- */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

input, textarea, select,  button {
    font-family: inherit;
    font-size: inherit;
}

.heading-lv2 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375C;
}

.desc-1 {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #C9D2DA;
}

.desc-2 {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

/* -------------- Header -------------- */
.header {
    padding: 8px 0;
    background: var(--header-bg);
    min-height: 100vh;
}

.header-top {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before ,
.logo__circle::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #FFFFFF;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #FFFFFF;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* Nav */

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    display: flex;
    align-items: center;
    padding: 8px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #C9D2DA;
}

.navbar__link-active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link-active::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin-right: 8px;
}


/* Action */
.header-action {
    margin-left: 201px;
    display: flex;
    gap: 0 28px;
    align-items: center;

}

.header-action__login {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: right;
    color: #C9D2DA;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* -------------- Hero -------------- */
.hero {
    display: flex;
    align-items: center;
    padding-top: 68px;
}


.hero__content {
    width: 45%;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero__media {
    margin-left: 113px;
    width: 45%;
}

.hero__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.hero__desc {
    margin-top: 22px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    gap: 0 38px;
}

.hero__phone {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
}
/* -------------- Service -------------- */
.service {
    padding: 170px 0;
}

.service__heading {
    text-align: center;
}

.service__desc {
    margin: 18px auto 0;
    width: 468px;
    text-align: center;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

/* Service item */
.service-item {
    display: flex;
    padding: 22px;
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px;
    transition: .25s;
}

.service-item:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    position: relative;
}

.service-item:hover .service-item__icon {
    background-color: var(--primary-color);
    color: #fff;
}

.service-item__icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    color: #10375C;
    transition: .25s
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600    ;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375C;
}

.service-item__desc {
    margin-top: 8px;
}

/* -------------- Work -------------- */
.work {
    padding: 100px 0;
    background: #F7FBFF;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
    color: #575F66;
}

.work__list {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.work-item {
    width: 338px;
    padding: 43px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375C;
}

.work-item__desc {
    margin-top: 28px;
    width: 258px;
    color: #575F66;
}

.work-item__more {
    display: inline-block;
    padding-top: 18px;
    color: #575F66;
}

.work-item:hover {
    cursor: pointer;
    border: 16px solid var(--primary-color); 
}

.work-item:hover .work-item__more {
    font-weight: 400;
    color: #2E80CE;
}

/* -------------- Feature -------------- */
.feature {
    padding: 100px 0;
}

.feature__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__image {
    display: flex;
}


.feature__img:first-child {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;

}

.feature__img:last-child {
    margin: 121px 0 0 -274px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__content {
    margin-left: 130px;
}

.feature__desc {
    margin: 18px 0 38px;
}

/* -------------- Member -------------- */
.member {
    padding: 70px 0;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__img-bg {
    padding-top: 28px;
    background: #EAF6FF;
    border-radius: 6px;
}

.member-item__img {
    display: block;
    width: 262px;
    height: 290px;
    border-radius: 6px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375C;
}

.member__control {
    margin-top: 38px;
    display: flex;
    gap: 0 18px;
    justify-content: center;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    background: #fff;
    color: #575F66;
    transition: 0,25s;
}

.member__control-btn:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
}

.member__control-icon-next {
    rotate: 180deg;
}
/* -------------- Install -------------- */
.install {
    margin: 170px 0;
}

.install__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    border-radius: 4px;
    background: var(--primary-color);
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__download {
    display: flex;
    margin-top: 38px;
    gap: 0 28px;
}

/* -------------- News -------------- */
.news {
    padding-bottom: 170px;
}

.news__body {
    display: grid;
    grid-template-columns: 1fr repeat(2, 23%);
    column-gap: 30px;
    align-items: center;
}

.news__lasted-news {
    margin-right: 130px;
}

.news__read-blog {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375C;
}

.news__control {
    margin-top: 28px;
    justify-content: flex-start;
}

/* New right block */
.news__list-img {
    display: block;
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.news__list-content {
    padding: 18px 22px 22px;
    background: #FFFFFF;
    border: 1px solid #E8EBEE;
    border-radius: 0 0 12px 12px;
}

.news__list-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375C;
}

.news__list-desc {
    width: 226px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575F66;
}

.news__list-learnmore {
    display: inline-block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #10375C;
    transition: 0,25s;
}

.news__list {
    transition: 0,25s;
}

.news__list:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news__list:hover .news__list-learnmore {
    color: #2E80CE;
}

/* -------------- Appoinment -------------- */
.appointment {
    background: #F7FBFF;
}

.appoinment__body {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appointment__heading {
    position: relative;
    text-align: center;
    padding-bottom: 18px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background: var(--primary-color);
}

.appointment__desc {
    width: 617px;
    text-align: center;
    margin: 18px auto 38px;
}

.appoinment__btn {
    margin: 0 auto;
}

/* -------------- Footer -------------- */
.footer {
    background: var(--header-bg);
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #A9B3BB;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
}

.footer__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;  
    color: #A9B3BB;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__list {
    margin: 20px 0 28px;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__social {
    margin: 20px 0 28px;
    display: flex;
    column-gap: 10px;
}

.footer__link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
    transition: 0.25s;
}

.footer__link-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.footer-form {
    margin-top: 10px;
    display: flex;
}

.footer-form__input {
    padding: 10px;
    width: 212px;
    height: 46px;
    outline: none;
    border: 1px solid #406181;
    border-radius: 4px;
    background: transparent;
    color: #fff;
}

.footer-form__input::placeholder {
    font-family: 'Open Sans';
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9CA8B1;
}

.footer-form__submit {
    --height: 46px;

    font-size: 1.4rem;
    margin-left: 12px;
    min-width: 108px;
    background: #2E80CE;
    border-radius: 4px;
}

.footer__copyright {
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    padding: 28px 0 42px;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #AAB3BA;
}